$text-white-color: #fff;
$button-gray-color: #545b62;
$link-color: #000;
$background-black-color: #000;
$left-skill-position: 36%;
$top-skill-position: 40%;
$portfolioImage: '../img/portfolio.jpg';

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
ul {
	list-style: none;
}

p a {
	text-decoration: underline;
	color: $link-color;
	opacity: 0.75;
	&:hover {
		color: $link-color;
		opacity: 1;
	}
}
// Landing Section

.landing {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	min-height: 100vh;

	.background-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			opacity: 0;
			-webkit-animation: imageAnimation 50s linear infinite;
			animation: imageAnimation 50s linear infinite;
			&:nth-child(1) {
				background-image: url(../img/IMG_1.jpg);
			}
			&:nth-child(2) {
				background-image: url(../img/IMG_2.jpg);
				-webkit-animation-delay: 10s;
				animation-delay: 10s;
			}
			&:nth-child(3) {
				background-image: url(../img/IMG_3.jpg);
				-webkit-animation-delay: 20s;
				animation-delay: 20s;
			}
			&:nth-child(4) {
				background-image: url(../img/IMG_4.jpg);
				-webkit-animation-delay: 30s;
				animation-delay: 30s;
			}
			&:nth-child(5) {
				background-image: url(../img/IMG_5.jpg);
				-webkit-animation-delay: 40s;
				animation-delay: 40s;
			}
		}
	}
	a {
		&.btn {
			padding: 20px 46px;
			border-radius: 4%;
			font-weight: 700;
			text-transform: uppercase;
			background-color: rgb(73, 73, 73);
			color: $text-white-color;
			opacity: 0.7;
		}
		&:hover {
			opacity: 1;
		}
	}
}

@keyframes imageAnimation {
	0% {
		opacity: 0;
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	10% {
		opacity: 1;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .background-image li {
	opacity: 1;
}

.landing-content {
	color: $text-white-color;
	opacity: 0;
	margin-top: 100px;
	-webkit-animation: 1s slidefade 3s forwards;
	animation: 1s slidefade 3s forwards;
	h1 {
		font-weight: 700;
		font-size: 60px;
	}
	h3 {
		font-size: 24px;
	}
}

// SideBar section

div .sidebar {
	background: $background-black-color; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #434343, $background-black-color); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#434343,
		$background-black-color
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding-top: 10vh;
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	top: 0;
	height: 100vh;
	text-decoration: none;
	color: $text-white-color;
	nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	a {
		font-size: 1.3rem;
		color: $text-white-color;
		opacity: 0.75;
		-webkit-transition: padding-left 0.5s;
		-o-transition: padding-left 0.5s;
		transition: padding-left 0.5s;
		padding-bottom: 3vh;
		&:hover {
			text-decoration: none;
			color: $text-white-color;
			opacity: 1;
			padding-left: 15px;
		}
	}
}
@media (max-width: 992px) {
	div .sidebar {
		background: $background-black-color;
		height: auto;
		margin: 0;
		padding: 23px 0 0 0;
		opacity: 1;
		z-index: 2;
		nav {
			height: 30px;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			background-color: $background-black-color;
		}
		a {
			color: $text-white-color;
			font-size: 1rem;
			&:hover {
				text-decoration: none;
				color: $text-white-color;
				padding-left: 0px;
			}
		}
	}
}
// About Section
#_about {
	margin-top: 10vh;
}
.about-content {
	font-size: 1.4rem;
}
@media (max-width: 992px) {
	.about-content {
		font-size: 1.1rem;
	}
}
// Projects section
#project-img-1 {
	background-image: url(../img/kancelaria.JPG);
}
#project-img-2 {
	background-image: url(../img/yelpcamp.JPG);
}
#project-img-3 {
	background-image: url(../img/portfolio.jpg);
}
#project-img-4 {
	background-image: url(https://source.unsplash.com/QBLq7dY0uo8);
}
#project-img-5 {
	background-image: url(../img/easy_session.jpg);
}
#_projects {
	margin-top: 15vh;
	ul {
		list-style: disc;
		margin-left: 10vw;
	}
	a {
		text-decoration: none;
		color: $link-color;
		opacity: 0.75;
		&:hover {
			text-decoration: none;
			opacity: 1;
		}
	}
	i {
		text-align: center;
		background-color: #fff;
		color: $background-black-color;
	}
}
.main-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 70vw;
	height: 70vh;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	.main-content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: start;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 20px;
		opacity: 0;
	}
	.main-img {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		z-index: 0;
		border-radius: 4%;
		max-width: auto;
		height: 100%;
		opacity: 0;
		background-size: contain;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}
.slide-from-bottom {
	margin-top: 100px;
}
.animation.animate {
	-webkit-animation: 1s slidefade 0.5s forwards;
	animation: 1s slidefade 0.5s forwards;
}
// Skills section
#_skills {
	margin-top: 15vh;
}
.skill {
	text-align: center;
	color: $text-white-color;
	position: absolute;
	height: 20vh;
	width: 20vh;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: $background-black-color;
	cursor: pointer;
	/* fallback for old browsers */
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-gradient(linear, right top, left top, from(#5e5d5d), to($background-black-color));
	background: -o-linear-gradient(right, #5e5d5d, $background-black-color);
	background: linear-gradient(
		to left,
		#5e5d5d,
		$background-black-color
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: 1px solid black;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
	&:hover {
		-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
		-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
		box-shadow: inset 0px 0px 5px #c1c1c1;
	}
}
div.dropdown-menu {
	a.dropdown-item {
		&.active,
		:active {
			background-color: $button-gray-color;
			color: $text-white-color;
		}
		&:hover {
			background-color: $button-gray-color;
			opacity: 0.9;
			color: $text-white-color;
			cursor: pointer;
		}
	}
}
#skill-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#skill-container {
	height: 70vh;
	position: relative;
}
#skill1 {
	top: $top-skill-position;
	left: $left-skill-position;
	z-index: 6;
}
#skill2 {
	top: ($top-skill-position - 2%);
	left: ($left-skill-position - 3%);
	z-index: 5;
}
#skill3 {
	top: ($top-skill-position - 4%);
	left: ($left-skill-position - 3%);
	z-index: 4;
}
#skill4 {
	top: ($top-skill-position - 6%);
	left: ($left-skill-position);
	z-index: 3;
}
#skill5 {
	top: ($top-skill-position - 4%);
	left: ($left-skill-position + 3%);
	z-index: 2;
}
#skill6 {
	top: ($top-skill-position - 2%);
	left: ($left-skill-position + 3%);
	z-index: 1;
}
// Contact section
#_contact {
	margin-top: 15vh;
	a {
		text-decoration: none;
	}
}
#contact-content-container {
	height: 30vh;
}
#copy-button {
	background-color: rgba(0, 0, 0, .1);
	&:hover {
		background-color: rgba(0, 0, 0, .3);
	}
}
.clickable {
	opacity: 0.8;
	&:hover {
		background-color: rgba(0, 0, 0, .1);
		border-radius: 50%;
		cursor: pointer;
		opacity: 1;
	}
}
// Other
i {
	height: 50px;
	width: 50px;
	text-align: center;
}
hr.style-two {
	color: black;
	border: 0;
	height: 1px;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(rgba(0, 0, 0, 0)),
		color-stop(rgba(0, 0, 0, 0.75)),
		to(rgba(0, 0, 0, 0))
	);
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}
