* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

body {
  background-color: #ffdab7;
}

ul {
  list-style: none;
}

p a {
  text-decoration: underline;
  color: #000;
  opacity: 0.75;
}

p a:hover {
  color: #000;
  opacity: 1;
}

.landing {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.landing .background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing .background-image li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.landing .background-image li:nth-child(1) {
  background-image: url(../img/IMG_1.jpg);
}

.landing .background-image li:nth-child(2) {
  background-image: url(../img/IMG_2.jpg);
  animation-delay: 10s;
}

.landing .background-image li:nth-child(3) {
  background-image: url(../img/IMG_3.jpg);
  animation-delay: 20s;
}

.landing .background-image li:nth-child(4) {
  background-image: url(../img/IMG_4.jpg);
  animation-delay: 30s;
}

.landing .background-image li:nth-child(5) {
  background-image: url(../img/IMG_5.jpg);
  animation-delay: 40s;
}

.landing a.btn {
  padding: 20px 46px;
  border-radius: 4%;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #494949;
  color: #fff;
  opacity: 0.7;
}

.landing a:hover {
  opacity: 1;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .background-image li {
  opacity: 1;
}

.landing-content {
  color: #fff;
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 3s forwards;
}

.landing-content h1 {
  font-weight: 700;
  font-size: 60px;
}

.landing-content h3 {
  font-size: 24px;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

div .sidebar {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 10vh;
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  text-decoration: none;
  color: #fff;
}

div .sidebar nav {
  display: flex;
  flex-direction: column;
}

div .sidebar a {
  font-size: 1.3rem;
  color: #fff;
  opacity: 0.75;
  transition: padding-left 0.5s;
  padding-bottom: 3vh;
}

div .sidebar a:hover {
  text-decoration: none;
  color: #fff;
  opacity: 1;
  padding-left: 15px;
}

@media (max-width: 992px) {
  div .sidebar {
    background: #000000;
    /* fallback for old browsers */
    height: auto;
    margin: 0;
    padding: 23px 0 0 0;
    opacity: 1;
    z-index: 2;
  }
  div .sidebar nav {
    height: 30px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000;
  }
  div .sidebar a {
    color: #fff;
    font-size: 1rem;
  }
  div .sidebar a:hover {
    text-decoration: none;
    color: #fff;
    padding-left: 0px;
  }
}

#_about {
  margin-top: 10vh;
}

.about-content {
  font-size: 2rem;
}

@media (max-width: 992px) {
  .about-content {
    font-size: 1.2rem;
  }
}

#project-img-1 {
  background-image: url(../img/kancelaria.JPG);
}

#project-img-2 {
  background-image: url(../img/yelpcamp.JPG);
}

#project-img-3 {
  background-image: url(../img/portfolio.jpg);
  transition: background-image 1s ease-in-out;
}

#project-img-3:hover {
  background-image: url(../img/IMG_ME.jpg);
}

#project-img-4 {
  background-image: url(https://source.unsplash.com/QBLq7dY0uo8);
  transition: background-image 1s ease-in-out;
}

#_projects {
  margin-top: 15vh;
}

#_projects ul {
  list-style: disc;
  margin-left: 10vw;
}

#_projects a {
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

#_projects a:hover {
  text-decoration: none;
  opacity: 1;
}

#_projects i {
  text-align: center;
  background-color: #fff;
  color: #000;
}

.main-container {
  display: flex;
  width: 70vw;
  height: 70vh;
  align-items: center;
  flex-wrap: nowrap;
}

.main-container .main-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px;
  opacity: 0;
}

.main-container .main-img {
  display: flex;
  align-items: center;
  z-index: 0;
  border-radius: 4%;
  max-width: auto;
  height: 100%;
  opacity: 0;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.slide-from-right {
  margin-top: 100px;
}

.slide-from-left {
  margin-top: 100px;
}

.animation.animate {
  animation: 1s slidefade 0.5s forwards;
}

#_skills {
  margin-top: 15vh;
}

.skill {
  text-align: center;
  color: #fff;
  position: absolute;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  cursor: pointer;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5e5d5d, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5e5d5d, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.skill:hover {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

a.dropdown-item.active,
a.dropdown-item:active {
  background-color: #545b62;
}

a.dropdown-item:hover {
  background-color: #545b62;
  opacity: 0.9;
  color: #fff;
}

#skill-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skill-container {
  height: 70vh;
  position: relative;
}

#skill1 {
  top: 40%;
  left: 36%;
  z-index: 6;
}

#skill2 {
  top: 38%;
  left: 33%;
  z-index: 5;
}

#skill3 {
  top: 36%;
  left: 33%;
  z-index: 4;
}

#skill4 {
  top: 34%;
  left: 36%;
  z-index: 3;
}

#skill5 {
  top: 36%;
  left: 39%;
  z-index: 2;
}

#skill6 {
  top: 38%;
  left: 39%;
  z-index: 1;
}

#_contact {
  margin-top: 15vh;
}

#_contact a {
  text-decoration: none;
}

#contact-content-container {
  height: 30vh;
}

#copy-button {
  background-color: rgba(0, 0, 0, 0.1);
}

#copy-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.clickable {
  opacity: 0.8;
}

.clickable:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
}

i {
  height: 50px;
  width: 50px;
  text-align: center;
}

hr.style-two {
  color: black;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}
